<style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        body {
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        form {
            padding: 20px 30px;
            border: 1px solid #dee2e6;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 300px;
        }
        button {
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
        }
        p {
            margin: 0;
        }
        .error {
            color: darkred;

        }
    </style>
<h1>{title}</h1>
    <form method="post" action="/login">
        <div class="error">{error}</div>
        <p>Username</p>
        <input type="text" name="username" required/>
        <p>Password</p>
        <input type="password" name="password" required/>
        <button>Log in</button>
        <a href="/register">Register page</a>
    </form>
